homebrew_cask_appdir: /Applications

recipes_for_roles:
  dev-host:
    tap:
      # for 'font-source-code-pro' cask
      - caskroom/fonts
    untap: []
    installed_packages:
      - git
      - diff-so-fancy
      # https://beyondgrep.com/why-ack/
      - ack
      - zsh
      - zsh-completions
      - wget
      - ansible
      - openssl
      - tmux
      - dockutil
      - pass
    uninstalled_packages: []
    cask_installed_apps:
      - docker
      - iterm2
      # https://github.com/adobe-fonts/source-code-pro
      - font-source-code-pro
      - visual-studio-code
      - gpg-suite
    cask_uninstalled_apps: []
  osx-host:
    tap: []
    untap: []
    installed_packages: []
    uninstalled_packages: []
    cask_installed_apps:
      - spotify
      - brave
      - skype
    cask_uninstalled_apps: []
