#!/usr/bin/env zsh

export PATH=~/bin:~/Library/Python/2.7/bin:$PATH
export PATH="/usr/local/sbin:$PATH"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
