#!/usr/bin/env zsh
real_script_dir="$(dirname "$(stat -f '%Y' ~/.zshrc)")"

timezsh() {
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}


# -------------------------
# INSTALL / SETUP FUNCTIONS
# -------------------------

function install_and_update_zsh_plugins() {
  current_dir=$(pwd)

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-syntax-highlighting ]] && git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_CUSTOM/plugins/zsh-syntax-highlighting
  cd $ZSH_CUSTOM/plugins/zsh-syntax-highlighting && git pull -q

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-autosuggestions ]] && git clone https://github.com/zsh-users/zsh-autosuggestions.git $ZSH_CUSTOM/plugins/zsh-autosuggestions
  cd $ZSH_CUSTOM/plugins/zsh-autosuggestions && git pull -q

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-vi-mode ]] && git clone https://github.com/jeffreytse/zsh-vi-mode $ZSH_CUSTOM/plugins/zsh-vi-mode
  cd $ZSH_CUSTOM/plugins/zsh-vi-mode && git pull -q

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-nvm ]] && git clone https://github.com/lukechilds/zsh-nvm $ZSH_CUSTOM/plugins/zsh-nvm
  cd $ZSH_CUSTOM/plugins/zsh-nvm && git pull -q

  cd $current_dir
}

function install_brew_must_have_formulas() {
  echo "=> Installing must-have brew formulas"
  # reattach-to-user-namespace - [access macOS clipboard from within tmux sessions](https://github.com/gpakosz/.tmux#accessing-the-macos-clipboard-from-within-tmux-sessions-tmux--26)
  brew install git wget python zsh diff-so-fancy reattach-to-user-namespace neovim
  brew install --cask alacritty iterm2 visual-studio-code
}

function remap_keys() {
  # https://apple.stackexchange.com/a/283253
  # Caps Lock -> Right Ctrl
  hidutil property --set '{"UserKeyMapping":
      [{"HIDKeyboardModifierMappingSrc":0x700000039,
        "HIDKeyboardModifierMappingDst":0x7000000e4}]
  }'
}

function setup_tmux() {
  ln -Fs "$real_script_dir/config/.tmux.conf" "$HOME/.tmux.conf"
}

function setup_alacritty() {
  if [[ ! -L "$HOME/.config/alacritty" ]]; then
    ln -Fs "$real_script_dir/config/alacritty" "$HOME/.config/alacritty"
  fi
}

function setup_nvim() {
  ln -Fs "$real_script_dir/config/nvim" "$HOME/.config/nvim"
  ln -Fs $(which nvim) /usr/local/bin/vim

  # install nvim packer (lua package manager)
  [[ ! -d ~/.local/share/nvim/site/pack/packer ]] && git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
}

# http://stratus3d.com/blog/2015/02/28/sync-iterm2-profile-with-dotfiles-repository/
function sync_iterm_profile() {
  # Specify the preferences directory
  defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "$real_script_dir/config/iterm2"

  # Tell iTerm2 to use the custom preferences in the directory
  defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
}

function setup_git() {
  ln -Fs "$real_script_dir/config/git/.gitconfig" "$HOME/.gitconfig"
}

function setup_vs_code() {
  cp -f "$real_script_dir/config/git/hooks/post-merge" "$real_script_dir/.git/hooks/post-merge"
  chmod +x "$real_script_dir/.git/hooks/post-merge"
  cp -f "$real_script_dir/config/git/hooks/pre-commit" "$real_script_dir/.git/hooks/pre-commit"
  chmod +x "$real_script_dir/.git/hooks/pre-commit"

  if [[ ! -L "$HOME/Library/Application Support/Code/User/snippets" ]]; then
    ln -Fs "$real_script_dir/config/VSCode/snippets" "$HOME/Library/Application Support/Code/User/snippets"
    ln -Fs "$real_script_dir/config/VSCode/keybindings.json" "$HOME/Library/Application Support/Code/User/keybindings.json"
    ln -Fs "$real_script_dir/config/VSCode/settings.json" "$HOME/Library/Application Support/Code/User/settings.json"
  fi
}

# https://github.com/ccontavalli/ssh-ident
function install_ssh_ident() {
  if [[ ! -f ~/bin/ssh-ident ]]; then
    mkdir -p ~/bin
    wget -O ~/bin/ssh-ident goo.gl/MoJuKB
    chmod 0755 ~/bin/ssh-ident

    ln -Fs  ~/bin/ssh-ident ~/bin/ssh
    ln -Fs  ~/bin/ssh-ident ~/bin/scp
    ln -Fs  ~/bin/ssh-ident ~/bin/sftp
  fi
}

function setup_dotfiles() {
  install_brew_must_have_formulas
  install_nvm
  install_ssh_ident
  setup_git
  setup_vs_code
  setup_tmux
  setup_nvim
  setup_alacritty
  sync_iterm_profile
  remap_keys
}
