#!/usr/bin/env zsh
real_script_dir="$(dirname "$(stat -f '%Y' ~/.zshrc)")"

function install_and_update_zsh_plugins() {
  current_dir=$(pwd)

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-syntax-highlighting ]] && git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_CUSTOM/plugins/zsh-syntax-highlighting
  cd $ZSH_CUSTOM/plugins/zsh-syntax-highlighting && git pull -q

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-autosuggestions ]] && git clone https://github.com/zsh-users/zsh-autosuggestions.git $ZSH_CUSTOM/plugins/zsh-autosuggestions
  cd $ZSH_CUSTOM/plugins/zsh-autosuggestions && git pull -q

  [[ ! -d $ZSH_CUSTOM/plugins/zsh-vi-mode ]] && git clone https://github.com/jeffreytse/zsh-vi-mode $ZSH_CUSTOM/plugins/zsh-vi-mode
  cd $ZSH_CUSTOM/plugins/zsh-vi-mode && git pull -q

  cd $current_dir
}

# -----------------------------
# INSTALL FROM SCRATCH
# -----------------------------
function install_brew() {
  echo "=> Installing brew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}

function install_brew_must_have_formulas() {
  echo "=> Installing must-have brew formulas"
  brew install git wget python zsh
  brew install --cask iterm2
}

function install_nvm() {
  echo "=> Installing nvm"
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
}

function install_oh_my_zsh() {
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
}

# http://stratus3d.com/blog/2015/02/28/sync-iterm2-profile-with-dotfiles-repository/
function sync_iterm_profile() {
  # Specify the preferences directory
  defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "$real_script_dir/files/iterm2"

  # Tell iTerm2 to use the custom preferences in the directory
  defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
}

# https://github.com/ccontavalli/ssh-ident
function install_ssh_ident() {
  mkdir -p ~/bin
  wget -O ~/bin/ssh-ident goo.gl/MoJuKB
  chmod 0755 ~/bin/ssh-ident

  ln -Fs  ~/bin/ssh-ident ~/bin/ssh
  ln -Fs  ~/bin/ssh-ident ~/bin/scp
  ln -Fs  ~/bin/ssh-ident ~/bin/sftp
}

function install_from_scratch() {
  install_brew
  install_brew_must_have_formulas
  install_oh_my_zsh
  install_nvm
  install_ssh_ident
  sync_iterm_profile
}
