[user]
	name = Max Tkachenko
	email = makst@users.noreply.github.com

[alias]
	lca = log --pretty=format:'[%h] %cd - Committer: %cn (%ce), Author: %an (%ae)'

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Switch to new branch and set it to track the upstream branch
	get = "!f() { git checkout --track origin/\"$1\"; }; f"

	aliases = config --get-regexp alias

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse

[color "status"]
	added = green
	changed = red
	untracked = white

[diff]
	# Detect copies as well as renames
	renames = copies

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = code --wait

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
